[submodule "awesomelibrary"]
	path = awesomelibrary
	url = https://bitbucket.org/jaredw/awesomelibrary
[submodule "scripts/awesomelibrary"]
	path = scripts/awesomelibrary
	url = https://bitbucket.org/jaredw/awesomelibrary
